head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Balsa-Boilerplate
    link(rel="stylesheet", href="css/app.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Open+Sans+Condensed:300")
    block styles
